<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style1.css" type="text/css">
</head>
<body>
    <div class="box" id="heading">
    <h1>Todo List - <%=listTitle%></h1>
    <h2><%=kindOfDay%>,<%=onDate%></h2>
    
     
    </div>
       <div class="box">
        <h3 class="task">Add Your Tasks Below</h3>

        <form class="item2" action="/delete" method="post" >
          <% newListItems.forEach((item)=>{ %>

                <div class="item">
                 <input id="checkbox" value="<%=item._id%>" type="checkbox" name="checkbox" onchange="this.form.submit()">
                 <p><%= item.name %></p>
                </div>
                <input type="hidden" value="<%=listTitle%>" name="listName">
               <% }) %>
            </form>
            <form class="item1" action="/" method="post">
              <input type="text" name="newIteam" placeholder="Click here to add new item" autocomplete="off">
              <button type="submit" value="<%=listTitle%>" name="list">+</button>
            </form>
        </div>
        <div>
          <p class="ad">
             ©️ ADIB AFSAR - 2023 
          </p>
      </div>
</body>
</html> 


 